//
//   @forms
// ---------------------------------------------------------
//  _3_elements/_forms.scss
// ---------------------------------------------------------
//
//  Base styles for all forms and form related elements
//
//  Below you'll set styles for all forms, and if you have
//  any specific kinds of forms, like a search form that you
//  create a classname of form--search, put that at the
//  bottom of this partial.
//
// ---------------------------------------------------------
//
//  Here's an example form, forms consist of
//  - header
//  - fields
//  - action
//
//  Example: Our Form
//  <form>
//    <header>
//      <h1>Super cool form, we love it</h1>
//    </header>
//    <article class="field">
//      <p>Here is some intro text of this field before the actual input</p>
//      <div class="field__input">
//        <label class="input__label">Your Name</label>
//        <input type="text">
//      </div>
//      <span class="field__feedback"></span>
//      <span class="field__hint"></span>
//    </article>
//    <article class="field">
//      <p class="field__text">Here is some intro text of this field</p>
//      <div class="field__input">
//        <label class="input__label">Your Email</label>
//        <input type="email">
//      </div>
//      <span class="field__feedback"></span>
//      <span class="field__hint"></span>
//    </article>
//    <footer class="action">
//      <input type="submit" class="btn" value="Submit">
//    </footer>
//  </form>
//
// -------------------------------------------------------

form {
}




//
//   @form-header
// --------------------------------------------------------
//
//  A form header usually consists of a title and some
//  copy.
//
// --------------------------------------------------------



//
//   @field__input
//--------------------------------------------------------
//
//  The div surrounding inputs
//
//--------------------------------------------------------

.field__input {
  margin-bottom: 20px;
  position: relative;
}




//
//   @inputs
// --------------------------------------------------------
//
//  The inputs
//
// --------------------------------------------------------

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=datetime],
input[type=date],
input[type=tel],
input[type=month],
input[type=week],
input[type=search],
textarea,
select {
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  padding: 14px;
  -webkit-appearance: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

// @radios
input[type="radio"] {
  -webkit-appearance: none;
  border: 2px solid white;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  &:checked {
    background: white;
  }
}

button[type="submit"] {
  border-radius: 8px;
  font-size: 13px;
  padding: 15px;
  text-transform: uppercase;
}



//
//   @placeholders
// --------------------------------------------------------
//
//  The placeholders
//
// --------------------------------------------------------

input, textarea {
  &::-webkit-input-placeholder {
    color: $placeholder-txt;
  }
  &:-moz-placeholder {
    color: $placeholder-txt;
  }
  &::-moz-placeholder {
    color: $placeholder-txt;
  }
  &:-ms-input-placeholder {
    color: $placeholder-txt;
  }
}
// Placeholders on focus
input:focus, textarea:focus {
  &::-webkit-input-placeholder {
    opacity: .3;
  }
  &:-moz-placeholder {
    opacity: .3;
  }
  &::-moz-placeholder {
    opacity: .3;
  }
  &:-ms-input-placeholder {
    opacity: .3;
  }
}
//172



//
//   @field__label
// --------------------------------------------------------
//
//  labels
//
// --------------------------------------------------------

.field__label {
  display: block;
}

// labels for checkboxes and radios
.field__label--radio {
  @extend %clearfix;
  cursor: pointer;
  position: relative;
  display: block;
  .radio__text {
    overflow: hidden;
    margin-left: rem(32);
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}



//
//   @contact-form-7
// ---------------------------------------------------------

// input error
.wpcf7-not-valid {
  background: #cf4d40;
}

// input error feedback
.wpcf7-not-valid-tip {
  background: color('black');
  border-radius: 0 0 8px 8px;
  color: color('white');
  font-size: em(11);
  left: 0;
  margin-top: -11px;
  padding: 4px 14px;
  position: absolute;
  top: 100%;
  width: 100%;
}

// contact form messages
.wpcf7-display-none {
  display: none;
}
.wpcf7-response-output {
  background: #cf4d40;
  border-top: 1px solid color('white');
  bottom: 0;
  color: $body-color;
  font-size: em(14);
  left: 0;
  margin: 0;
  padding: em(20);
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  right: 0;
  z-index: 100;
}
.wpcf7-mail-sent-ok { background: color('green'); }

// screen reader response
.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}
